<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CQUBSPU" transaction-type="RESOURCE_LOCAL">
    <class>ejb.Users</class>
    <class>ejb.Staff</class>
    <class>ejb.Volunteer</class>
    <class>ejb.Department</class>
    <class>ejb.Category</class>
    <class>ejb.Location</class>
    <class>ejb.Login</class>
    <class>ejb.Registration</class>
    <class>ejb.ServiceAtLocation</class>
    <class>ejb.Service</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/app_dev_database?zeroDateTimeBehavior=CONVERT_TO_NULL"/>
      <property name="javax.persistence.jdbc.user" value="admin"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="AppDevProject"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
