/*useful for debugging layout
* 
{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

body
{
    font-family: 'Roboto Condensed', sans-serif;
    color: #003057;
}

.nav-item
{
    list-style: none;
}

.nav-link
{
    color: #003057;
}

.nav-link:hover
{
    background-color: #f6f6f4;
    color: #003057;
}

.nav .nav-item .nav-link.active
{
    color: #003057;
    border-bottom: 3px solid #c1d600;
}

.navbar
{
    border-top: 3px solid #c1d600;
}

#site-container
{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    justify-content: center;

    min-height: 100vh;
}

#site-container #content
{
    flex-grow: 1;
}

.hero-banner
{
    background-image: url("../img/placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5
{
    font-weight: 700;
}

.btn-primary
{
    color: #ffffff;
    background-color:#003057;
    border: none;
    border-radius: 0%;
    font-size: .875rem;
    font-weight: 700;
    padding: .75rem;
    min-width: 7rem;
}

.btn-primary:hover
{
    background-color: #29506f;
}

.btn-primary:active:focus
{
    background-color: #4f7392;
}

.btn-secondary
{
    color: #003057;
    background-color: #c1d600;
    border: none;
    border-radius: 0%;
    font-size: .875rem;
    font-weight: 700;
    padding: .75rem;
    min-width: 7rem;
}

.btn-secondary:hover
{
    background-color: #d6eb14;
    color: #003057;
}

.btn-secondary:active:focus
{
    background-color: #e0ee58;
    color: #003057;
}

.btn-dropdown
{
    color: #003057;
    background-color: #ffffff;
    border-radius: 0%;
    border-color: #ebebea;
    font-size: .875rem;
    font-weight: 700;
    padding: .75rem;
    min-width: 10rem;
}

.btn-dropdown:hover
{
    border-color: #74746d;
}

.btn-dropdown:active:focus, .btn-dropdown:focus
{
    background-color: #ebebea;
    border-color: #74746d;
}

.card,.card-img-top,.card-body
{
    border-radius: 0%;
    border: none;
}

.card
{
    transition: transform 300ms ease 0s;
}

.card:hover
{
    transform: scale(1.03);
}

.card-body
{
    padding-left: 0;
}

.card-link
{
    color: #003057;
    text-decoration: none;
}

#credentials-pane
{
    text-align: center;
}

.credentials-img
{
    text-align: center;
}

.form-control
{
    border-radius: 0%;
    border-color: #ebebea;
    padding: .75rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form-control:hover
{
    border-color: #d7d7d5;
}

.form-control:focus
{
    border-color: #003057;
    box-shadow: none;
}

#loginForm, #signUpForm
{
    border-bottom: 2px solid #ebebea;
}

#nameRow
{
    display: flex;
}

.dropdown, .search-btn, .search-icon
{
    max-width: fit-content;
}

.dropdown-menu
{
    border-radius: 0%;
    border: none;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-item:hover
{
    background-color: #ffffff;
}

.form-check-input[type="checkbox"]
{
    border-radius: 0%;
    border-color: #d7d7d5;
    width: 1.5rem;
    height: 1.5rem;
}

.form-check-input:hover, .form-check-input:focus
{
    border-color: #74746d;
    box-shadow: none;
}

.form-check-input:checked
{
    color: #003057;
    background-color: #c1d600;
    border-color: #c1d600;
}

#resultsDiv
{
    background-color: #f6f6f4;
    border-top: 1px solid #ebebea;
    flex-grow: 1;
}

#searchResults .card
{
    border: 1px solid #ebebea;
}

.card-text p
{
    font-family: 'Roboto Condensed', sans-serif;
}

#searchResults .card:hover
{
    border-color: #74746d;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
}

.breadcrumb-item a, .alert a
{
    color: #003057;
    text-decoration: none;
}

.breadcrumb-item a:hover, .alert a:hover
{
    border-bottom: 2px solid #003057;
}

.alert
{
    border: 1px solid #ebebea; 
    border-radius: 0%;
    background-color: #f6f6f4;
    font-family: Arial, Helvetica, sans-serif;
}

footer 
{
    flex-basis: 100%;

    background-color: #003057;
    color: #acc4d8;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
